body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    text-align: center;
    z-index: 1; /*make sure text is above the video */
    opacity: 0.8; /* Adjust opacity if need */
}