body {
    font-family: 'Padauk';
    font-size: 1rem;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .first {
    display: flex;
    flex-direction: column;
} */

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.website-text {
    position: absolute;
    top: auto;
    /* bottom: 100px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7rem;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: fade-in 5s ease-in-out;
}

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.value-propositions {
    background-image: radial-gradient(circle, #0f64309a, #0f642f);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    /* width: 100%; */
    padding: 1rem 1.5rem;
}

.text-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-media h2 {
    color: #fff;
}

.text-media img,
.text-media video {
    width: 40%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    /* border: 2px solid black; */
}

.area3 {
    background-image: radial-gradient(circle, #372f0adb, #372f0a);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.area3 h1 {
    color: #fff;
}

.contact-btn {
    background-color: #007bff; /* Blue color, adjust as needed */
    color: #fff; /* White text */
    padding: 15px 30px; /* Adjust padding for desired size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand pointer on hover */
    text-transform: uppercase; /* Capitalize text */
    font-weight: bold; /* Bold text */
    transition: background-color 0.2s ease-in-out; /* Smooth color change on hover */
}

.contact-btn:hover {
    background-color: #0062cc; /* Slightly darker blue on hover */
}